# Core Framework
langchain
langchain-community
langchain-core

# Embeddings & Vector Database
langchain-huggingface
langchain-chroma
sentence-transformers
chromadb

# Document Processing
pypdf

# LLM Provider
langchain-groq

# UI and Environment
streamlit
python-dotenv